body{
    margin:0;
    background:#f5f5f5;
}

textarea{
    width:100%;
    max-width:900px;
    font-size:16px;
    padding:12px;
}

button{
    padding:10px 20px;
    font-size:16px;
}

table{
    background:white;
}

h1,h2,h3{
    color:#222;
}